.layout {
    grid-area: 4/3/16/25;
}

.layout2 {
    grid-area: 3/9/9/12;
}

.garden {
    grid-area: 9/10/16/18;
}

.pianta {
    grid-area: 3/2/15/13;
}

.landscape {
    grid-area: 10/3/15/10;
}

.bedroom {
    grid-area: 1/1/6/7;
}

.bedroom2 {
    grid-area: 1/8/6/14;
}
