
.withBackground {
    background-color:rgb(54, 54, 54);
}
.projectPicture {
    height: auto;
    width: auto;
    object-fit: contain;
}

.pictureContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.pictureWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: stretch;
    align-items: center;
    filter: drop-shadow(-1px 1px 0px rgba(54, 54, 54, 1));
}

.blackBar {
    width: 100%;
    border-bottom: 1px solid rgb(54, 54, 54);
    position: absolute;
    top: 0;
}
