

.projectPicture {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pictureWrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.blackBar {
    width: 100%;
    border-bottom: 1px solid rgb(54, 54, 54);
    position: absolute;
    top: 0;
}
