

.projectPicture {
    height: auto;
    width: auto;
    object-fit: cover;
    background-color:rgb(54, 54, 54);
}

.pictureContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.pictureWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.blackBar {
    width: 100%;
    border-bottom: 1px solid rgb(54, 54, 54);
    position: absolute;
    top: 0;
}
