.pavillion {
    grid-area: 6/1/9/4;
}

.otherside {
    grid-area: 6/4/9/7;
}

.layout1 {
    grid-area: 3/2/7/6;
}

.interior {
    grid-area: 3/8/7/12;
}

.side {
    grid-area: 3/3/7/8;
}

.layout2 {
    grid-area: 5/1/8/4;
}

.outside {

    grid-area: 5/4/8/8;
}

.front {
    grid-area: 3/1/7/5;
}
