.pavillion {
    grid-area: 11/1/17/8;
}

.otherside {
    grid-area: 11/8/17/15;
}

.layout1 {
    grid-area: 6/2/12/14;
}

.interior {
    grid-area: 4/18/14/23;
}

.side {
    grid-area: 5/8/13/14;
}

.layout2 {
    grid-area: 8/1/16/7;
}

.outside {
    grid-area: 9/7/14/15;
}

.front {
    grid-area: 5/1/12/10;
}

@media screen and (max-width: 600px) {

    .pavillion {
        grid-area: 6/1/10/8;
    }
    
    .otherside {
        grid-area: 6/8/10/15;
    }
    
    .layout1 {
        grid-area: 1/1/5/15;
    }
    
    .interior {
        grid-area: 5/1/9/15;
    }
    
    .side {
        grid-area: 5/7/9/15;
    }
    
    .layout2 {
        grid-area: 6/1/10/8;
    }
    
    .outside {
        grid-area: 6/8/10/15;
    }
    
    .front {
        grid-area: 5/1/9/12;
    }

}
