.main {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 12px;
    padding: 0px;
}


.aboutTitle {
    grid-area: 1/12/1/1;
}

.iconWrapper {
    grid-area: 6/1/17/7;
}

@media screen and (max-width: 600px) {
    
    .iconWrapper {
        grid-area: 8/1/17/13;
    }
}
.icon {
    height: 100%;
    width: 100%;
}


