.contact {

}

.contactDetails {
    z-index: 2;
    background: white;
    padding: 16px;
    text-align: center;
}


.verticalLine {
    position: absolute;
    left: calc(50% - 2px);
    top: 50%;
    z-index: 1;
}
