.contact {

}

.contactDetails {
    z-index: 2;
    background: white;
    padding: 16px;
    text-align: center;
}

.verticalLineWrapper {
    position: absolute;
    left: calc(50% - 2px);
    top: -48px;
    z-index: 1;
}

.verticalLine {
    height: 48px;
    width: 4px;
}
