.homeScreen {
  display: flex;
  padding: 60px 80px 60px 60px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.projectIcon {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.label {
  position: absolute;
  width: 100%;
  background: black;
  color: white;
  bottom: -80px;
  text-align: center;
  pointer-events: none;
}

.iconWrapper {
  /* width: 100%; */
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  place-content: center;
}

.scrollIndicator {
  position: fixed;
  height: 66vh;
  right: var(--global-padding);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 9vw;
  min-width: 40px;
  max-width: 60px;
  z-index: 2;
}

.scrollIndicatorWrapper {
  position: relative;
  padding: 4px;
  background: white;
}

.scrollIndicatorIconBackground {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  background: white;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 600px) {

  .main {
    grid-gap: 4px;
  }

}
