.layout {
    grid-area: 5/20/17/27;
}

.internoold {
    grid-area: 3/1/9/10;
}

.interno1 {
    grid-area: 9/1/16/10;
}

.layout2 {
    grid-area: 6/11/14/17;
}

.layout3 {
    grid-area: 9/20/17/27;
}

.interno2 {
    grid-area: 10/14/17/23;
}

@media screen and (max-width: 600px) {
    
    .layout {
        grid-area: 4/1/9/8;
    }
    
    .internoold {
        grid-area: 3/1/7/12;
    }
    
    .interno1 {
        grid-area: 6/1/9/12;
    }
    
    .layout2 {
        grid-area:  1/1/5/15;
    }
    
    .layout3 {
        grid-area: 5/1/9/15;
    }
    
    .interno2 {
        grid-area: 6/4/9/15;
    }
    

}
