.oldFront {
    grid-area: 5/5/15/10;
}

.front {
    grid-area: 7/10/13/18;
}

.layout {
    grid-area: 10/14/17/19;
}

.interior {
    grid-area: 4/3/13/8;
}

.mirrors {
    grid-area: 11/13/16/26;
}

.handle {
    grid-area: 7/18/13/26;
}

.blueprint {
    grid-area: 7/1/15/7;

}


@media screen and (max-width: 600px) {

    .oldFront {
        grid-area: 3/1/8/7;
    }
    
    .front {
        grid-area: 5/4/9/15;
    }
    
    .layout {
        grid-area: 5/7/9/14;
    }
    
    .interior {
        grid-area: 1/1/7/8;
    }
    
    .mirrors {
        grid-area: 6/1/9/15;
    }
    
    .handle {
        grid-area: 6/9/11/16;
    }
    
    .blueprint {
        grid-area: 6/1/11/8;
    
    }

}
