.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    
    color: var(--primary-text-color);
}

.namesWrapper {
    display: flex;
    flex-direction: column;
}

.name {

}

.label {

}

.verticalLine {
    height: 100%;
    width: 4px;
    position: absolute;
    left: calc(50% - 2px);
}
