.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    color: var(--primary-text-color);
}

.namesWrapper {
    display: flex;
    flex-direction: column;
    flex: 50%;
}

.name {

}

.label {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
}

.verticalLine {
    height: 100%;
    width: 4px;
}

.lineWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
