.livingroom {
    grid-area: 5/14/11/23;
}

.layout {
    grid-area: 11/14/16/24;
}

.livingroom2 {
    grid-area: 4/8/8/14;
}

.livingroom3 {
    grid-area: 8/8/12/14;
}

.livingroom4 {
    grid-area: 12/8/16/14;
}

.kitchen {
    grid-area: 10/14/16/23;
}

.layout2 {
    grid-area: 5/1/13/13;
}

.layout3 {
    grid-area: 6/14/12/19;
}
