.screen {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: var(--gap);

    scroll-snap-align: center;
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 600px) {
    .screen {
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}
