.main {
    overflow-y: scroll;
    display: block;
    --gap: 12px;
    padding: var(--gap);
    scroll-snap-type: y mandatory;
}

.verticalLine {
    position: absolute;
}

.description {
    grid-area: 1/7/5/13;
    overflow: hidden;
    position: relative;
    isolation: isolate;
    /* pixel align: negative gap / 2 minus line width */
    --offset: calc(calc(calc(var(--gap) * -1) / 2) + -2px);
    transform: translate(var(--offset), var(--offset));
    margin-bottom: 12px;
}

.descriptionParagraph {
    padding: 12px;
}

.projectPicture {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pictureWrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.screen {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: var(--gap);

    scroll-snap-align: center;
    height: 100%;
    width: 100%;
}

.oldFront {
    grid-area: 3/6/8/2;
}

.front {
    grid-area: 3/4/6/10;
}

.layout {
    grid-area: 6/7/9/11;
}

.interior {
    grid-area: 2/2/7/6;
}

.mirrors {
    grid-area: 6/7/9/13;
}

.handle {
    grid-area: 4/9/8/13;
    
}

.blueprint {
    grid-area: 4/1/8/5;

}
