.oldFront {
    grid-area: 5/5/15/10;
}

.front {
    grid-area: 7/10/13/18;
}

.layout {
    grid-area: 10/14/17/19;
}

.interior {
    grid-area: 4/3/13/8;
}

.mirrors {
    grid-area: 11/13/16/26;
}

.handle {
    grid-area: 7/18/13/26;
}

.blueprint {
    grid-area: 7/1/15/7;

}
