.precopertina {
    grid-area: 4/7/9/9;
}

.copertina {
    grid-area: 4/6/7/8;
}
.copertina2 {
    grid-area: 4/1/7/3;
}
.copertina3 {
    grid-area: 4/11/7/13;
}

.exhibition {
    grid-area: 3/5/7/9;
}

.inside1 {
    grid-area: 6/1/9/4;
}

.inside2 {
    grid-area: 6/4/9/7;
}

.inside3 {
    grid-area: 6/8/9/11;
}
