.main {
    overflow-y: scroll;
    display: block;
    --gap: 12px;
    /* padding: 0px var(--gap) var(--gap) var(--gap); */
    scroll-snap-type: y mandatory;
}

.main > article:not(:last-child) {
    margin-bottom: 15px;
}
