
.verticalLine {
    height: 100%;
    width: 3px;
    position: absolute;
    /* min-width: 8px; */
}

.paragraphWrapper {
    position: relative;
}

.description {
    grid-area: 1/14/10/-1;
    overflow: hidden;
    position: relative;
    isolation: isolate;
    /* pixel align: negative gap / 2 minus line width */
    --offset: calc(calc(calc(var(--gap) * -1) / 2) + -2px);
    transform: translate(var(--offset), var(--offset));
    margin-bottom: 12px;
}

.lineMask {
    position: absolute;
    height: 100%;
    width: 8px;
    left: -2px;
    background: white;
}

.descriptionParagraph {
    padding: 12px;
    font-size: clamp(0.8em, 2cqh, 1.25em);
}

@media screen and (max-width: 600px) {
    .description {
        grid-area: 1/8/10/-1;
    }

    .descriptionParagraph {
        padding: 12px;
        font-size: inherit;
    }

}
